@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$font-family: 'Open Sans', sans-serif;
$primary-color: #12263a;
$secondary-color: #256eff;
$highlight-color: #ffc107;
$error-color: #f64749;
$gray-color: #252525;

// * {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
//   font-family: $font-family;
// }

// body {
//   line-height: 1.5;
// }

.card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.card-wrapper{
    img {
        width: 100%;
        display: block;
    }
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;

    img {
        min-width: 100%;
        object-fit: contain;
    }
}

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
        margin-right: 0;
    }

    &:hover {
        opacity: 0.8;
    }
}

.product-content {
    padding: 2rem 1rem;
}

.product-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: $primary-color;
    margin: 1rem 0;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 80px;
        background: $primary-color;
    }
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: $secondary-color;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;

    &:hover {
        opacity: 0.9;
    }
}

.product-rating {
    color: $highlight-color;

    span {
        font-weight: 600;
        color: $gray-color;
    }
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;

    span {
        font-weight: 400;
    }
}

.last-price span {
    color: $error-color;
    text-decoration: line-through;
}

.new-price span {
    color: $secondary-color;
}

.product-detail {
    h2 {
        text-transform: capitalize;
        color: $primary-color;
        padding-bottom: 0.6rem;
    }

    p {
        font-size: 0.9rem;
        padding: 0.3rem;
        opacity: 0.8;
    }

    ul {
        margin: 1rem 0;
        font-size: 0.9rem;

        li {
            margin: 0;
            list-style: none;
            background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
            background-size: 18px;
            padding-left: 1.7rem;
            margin: 0.4rem 0;
            font-weight: 600;
            opacity: 0.9;

            span {
                font-weight: 400;
            }
        }
    }
}

.purchase-info {
    margin: 1.5rem 0;

    input,
    .btn {
        border: 1.5px solid #ddd;
        border-radius: 25px;
        text-align: center;
        padding: 0.45rem 0.8rem;
        outline: 0;
        margin-right: 0.2rem;
        margin-bottom: 1rem;
    }

    input {
        width: 60px;
    }

    .btn {
        cursor: pointer;
        color: #fff;

        &:first-of-type {
            background: $secondary-color;
        }

        &:last-of-type {
            background: $error-color;
        }

        &:hover {
            opacity: 0.9;
        }
    }
}



@media screen and (min-width: 992px) {
    .productCard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        // height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-content {
        padding-top: 0;
    }
}
